# Keycloak Base Admin URL
KEYCLOAK_URL=http://localhost:8080
# Admin account username
KEYCLOAK_USERNAME=admin
# Admin account password
KEYCLOAK_PASSWORD=admin_secure_password
# KeycloakRealm name
KEYCLOAK_REALM=master
